<%- include("partials/header") %>

<link rel="stylesheet" type="text/css" href="/static/land.css">
<div class="note d-none d-md-block">
	<p>
		World changing innovations rise from simple ideas.
		<br>But changing a simple idea into reality <br>
		<strong>is difficult...</strong>		
	</p>
</div>

<div class="note-link d-block">
	<p>
		Share your ideas.
		<br><strong>TEAM UP!!!</strong><br>
		<i class="fas fa-long-arrow-alt-down fa-lg"></i><br>
		<a href="/ideas"><i class="far fa-lightbulb fa-3x"></i></a>
	</p>
</div>
 <%- include("partials/footer") %>