<%- include("partials/header") %>
<link rel="stylesheet" type="text/css" href="/static/log.css">

<div class="container-fluid text-center px-6">
	<form action="log" method="post">
		<p>Username:</p>
		<input type="Username" name="username" required="" placeholder="Enter Username">
		<p>Password:</p>
		<input type="password" name="password" required="" placeholder="Enter Password">
		<input type="submit" name="" value="login">
		<a href="">Lost your Password??</a><br>
		<a href="">New User!!</a>
	</form>
</div>	
<p>
	This is going to be the Login Page!!!
</p>
<%- include("partials/footer") %>