html, body {
    margin: 0;
    height: 100%;
	background: url(loginBack.jpeg);
	background-repeat: no-repeat;
  	background-size: 100% 100%;
}

.navbar{
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 0px 0px 9px 9px; 
}

.container{
	width:65%;
}

input{
	outline: none;
}

.brand-center{
	position: absolute;
    left: 50%;
    top: 25px;
    text-align: center;
    height: 65px;
    display: flex;
    overflow: hidden;
    text-decoration: none;
    transform: translate(-50%,-50%);
    align-items: center;
    align-self: center;
    vertical-align: middle;
    align-content: center;
	font-family: 'Lobster', cursive;
	letter-spacing: 3px;
}

.container-fluid{
	width: 320px;
 	height: 420px;
 	background: rgba(0,0,0,0.4);
 	color: #fff;
 	top: 50%;
 	left: 50%;
 	position: absolute;
 	transform: translate(-50%,-40%);
 	box-sizing: border-box;
 	padding: 70px 30px;
 }


.container-fluid .content{
	 transform: translate(0%,-30%);
 }

.container-fluid input{
 	width: 100%;
 	margin-bottom: 20px;
 }

 .container-fluid input[type="Username"] , input[type="password"]{
 	border: none;
 	border-bottom: 1px solid #fff;
 	background: transparent;
 	outline: none;
 	height: 40px;
 	color: #fff;
 	font-size: 16px;
 }

.container-fluid input[type="submit"]
 {
 	border: none;
 	outline: none;
 	height: 40px;
 	background: #fb2525;
 	color: #fff;
 	font-size: 18px;
 	border-radius: 20px;
 }

.container-fluid a{
 	text-decoration: none;
 	font-size: 12px;
 	line-height: 20px;
 	color: darkgrey;
 }